/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/target

/RecipeBook/target
/RecipeBook/resources
/RecipeBook/nbproject/
/RecipeBook/.classpath
/RecipeBook/.project
/RecipeBook/.settings
/RecipeBook/.vscode

ingredientsTest.txt
ingredients.txt
recipes.txt
recipesIngs.txt

recipes.db
recipesTest.db

nbactions.xml