/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/target

/RecipeBook/target
/RecipeBook/nbproject/
/RecipeBook/.classpath
/RecipeBook/.project
/RecipeBook/.settings
/RecipeBook/.vscode

nbactions.xml